<div class="keywords-component">
  <form class="keywords-add" (ngSubmit)="addKeyword()">
    <input name="keywordToAdd" class="keyword-input" [ngClass]="{'keyword-input-dark': theme === 'dark'}"
           type="text" size="20" pInputText [(ngModel)]="keywordToAdd"  maxlength="30" placeholder="Mot clé">
    <p-button class="keyword-button" type="submit" icon="fa fa-fw fa-plus" iconPos="right" [disabled]="!keywordToAdd || (keywords && keywords.includes(keywordToAdd))"></p-button>
  </form>
  <div class="keyword-list-item">
    <span class="keyword-item" *ngFor="let keyword of keywords">
      {{keyword}} <span class="fa fa-close keyword-delete" (click)="deleteKeyword(keyword)"></span>
    </span>
  </div>
</div>
