@import '../../../../assets/constants/variables';

.keywords-component {
  .keywords-add {
    display: flex;
    .keyword-input {
      width: 45%;
      height: 30px;
      border-radius: 0 5px 0 5px;
      padding-left: 6px;
      margin-right: 6px;
      border: none;
    }
    .keyword-input-dark {
      background: $light-grey;
    }
    //noinspection CssInvalidPseudoSelector
    ::ng-deep .keyword-button {
      > button {
        height: 30px;
        border: 1px solid #dc3545;
        background: #dc3545;
      }
      > button:hover {
        border: 1px solid #dc3545;
        background: #dc3545;
      }
    }
  }

  .keyword-list-item {
    margin-top: 5px;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    .keyword-item {
      color: #fff;
      background-color: $classic-red;
      border-radius: 0 5px 0 5px;
      padding: 3px;
      margin: 0 4px 5px 0;
      font-size: 18px;
      .keyword-delete {
        cursor: pointer;
      }
    }
  }
}
