<p-dialog class="bookmark-dialog" header="Modification du bookmark" [(visible)]="display" [responsive]="true" showEffect="fade"
          [modal]="true" width="550">
  <form class="bookmark-dialog-form" (ngSubmit)="onSubmit()">
    <div class="bookmark-dialog-item">
      <div><label for="url">URL</label></div>
      <div><input class="bookmark-dialog-url" name="url" id="url" type="text" size="30" pInputText [(ngModel)]="bookmarkToUpdate.url" disabled="true"></div>
    </div>
    <div class="bookmark-dialog-item">
      <div><label for="title">Titre</label></div>
      <div><input id="title" name="title" type="text" size="30" pInputText [(ngModel)]="bookmarkToUpdate.title"></div>
    </div>
    <div class="bookmark-dialog-item">
      <div><label for="author-name">Nom de l'auteur</label></div>
      <div><input id="author-name" name="authorName" type="text" size="30" pInputText [(ngModel)]="bookmarkToUpdate.authorName"></div>
    </div>
    <div class="bookmark-dialog-item">
      <div><label for="width">Largeur</label></div>
      <div><input id="width" name="width" type="text" size="30" pInputText [(ngModel)]="bookmarkToUpdate.width"></div>
    </div>
    <div class="bookmark-dialog-item">
      <div><label for="height">Hauteur</label></div>
      <div><input id="height" name="height" type="text" size="30" pInputText [(ngModel)]="bookmarkToUpdate.height"></div>
    </div>
    <div class="bookmark-dialog-item" *ngIf="bookmarkToUpdate && bookmarkToUpdate.duration">
      <div><label for="duration">Durée</label></div>
      <div><input id="duration" name="duration" type="text" size="30" pInputText [(ngModel)]="bookmarkToUpdate.duration"></div>
    </div>
    <msp-keywords theme="dark" [(keywords)]="bookmarkToUpdate.keywords" (keywordsChange)="updateKeywords($event)"></msp-keywords>
    <div class="bookmark-dialog-separator"></div>
    <footer class="bookmark-edit-footer">
      <p-button type="button" icon="fa fa-close" (click)="cancel()" label="Annuler"></p-button>
      <p-button type="submit" icon="fa fa-check" label="Modifier"></p-button>
    </footer>
  </form>

</p-dialog>
