@import '../../assets/constants/variables';

.bookmark-dialog {
  //noinspection CssInvalidPseudoSelector
  ::ng-deep {
    .bookmark-dialog-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      .bookmark-dialog-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        div:nth-child(1) {
          width: 25%;
        }
        div:nth-child(2) {
          width: 75%;
          input {
            background: $light-grey;
            border-radius: 0 5px 0 5px;
            border: none;
            height: 25px;
            padding-left: 5px;
            width: 90%;
          }
          .bookmark-dialog-url {
            cursor: not-allowed;
          }
        }
      }
    }
    .bookmark-dialog-separator {
      width: 100%;
      margin: 10px 0 10px 0;
      border-bottom: 1px solid #d9d9d9;
    }
    .bookmark-edit-footer {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      p-button {
        > button {
          border: 1px solid #dc3545;
          background: #dc3545;
        }
        > button:hover {
          border: 1px solid #dc3545;
          background: #dc3545;
        }
      }
    }

    .ui-button:enabled:active {
      background-color: $classic-red !important;
      border: 1px solid $classic-red !important;
    }
  }
}
