@import '../assets/constants/variables';

.app-bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .app-title {
    font-size: 35px;
    margin: 10px 0 30px 0;
    color: $classic-red;
    text-align: center;
    font-family: Verdana, sans-serif;
  }

  .app-bookmark-add {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0 30px 0;
    @media screen and (max-width: 600px) {
      width: 100%;
    }
    width: 44%;
    min-height: 150px;

    .url-add {
      width: 100%;
      height: 36px;
      border-radius: 0 5px 0 5px;
      padding-left: 6px;
      border: none;
    }

    .check-url-error {
      margin-top: 5px;
      color: $classic-red;
      transition: opacity 1000ms ease-in-out,margin-left 500ms ease-in-out;
    }

    .app-bookmark-second-zone {
      margin-top: 10px;
      width: 100%;
      .app-bookmark-add-button {
        display: flex;
        width: 100%;
        //noinspection CssInvalidPseudoSelector
        ::ng-deep .button-add {
          > button {
            width: 100%;
            height: 35px;
            margin-right: 50px;
            border: 1px solid #dc3545;
            background: #dc3545;
          }
        }
      }

      msp-keywords {
        width: 100%;
        margin: 15px 0 10px 0;
      }
    }
  }

  .app-bookmark-list {
    width: 100%;
    max-width: 1400px;
    //noinspection CssInvalidPseudoSelector
    ::ng-deep .app-bookmark-data {
      .my-bookmarks-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 600px) {
          flex-direction: column;
        }
        .my-bookmarks-title {
          font-size: 20px;
          font-weight: bold;
          margin: 10px;
        }
      }
      .my-bookmarks-item {
        margin: 10px 0 10px 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .my-bookmarks-infos {
          display: flex;
          flex-direction: column;
          width: 85%;
          .my-bookmarks-info {
            display: flex;
            margin: 5px 0 5px 0;
            div:nth-child(1) {
              width: 25%;
            }
            div:nth-child(2) {
              width: 75%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
        .my-bookmarks-buttons {
          ::ng-deep p-button {
            > button {
              border: 1px solid #dc3545;
              background: #dc3545;
            }
          }
        }
      }
      .my-bookmarks-separator {
        width: 100%;
        border-bottom: 1px solid #d9d9d9;
      }
    }
  }

  //noinspection CssInvalidPseudoSelector
  ::ng-deep {
    .ui-button.ui-state-active {
      background-color: $classic-red !important;
      border: 1px solid $classic-red !important;
    }

    .ui-button.ui-state-focus.ui-state-active {
      box-shadow: 0 0 5px $classic-red !important;
    }

    .ui-paginator .ui-paginator-page.ui-state-active {
      background-color: $classic-red !important;
      border-color: $classic-red !important;
    }

    .ui-progress-spinner {
      width: 30px !important;
      height: 30px !important;
      margin-left: 10px;
    }
  }
}
