<div class="app-bookmark">
  <div class="app-title">
    <span>Application de gestion de bookmarks</span>
  </div>
  <div class="app-bookmark-add">
    <input class="url-add" type="text" size="30" pInputText [(ngModel)]="urlToAdd" [placeholder]="'URL Flickr ou Vimeo à ajouter'" (ngModelChange)="checkURLValidity()">
    <span class="check-url-error" *ngIf="!urlIdToAdd && urlToAdd && urlToAdd.length > 0">{{errorURLValidity}}</span>
    <div class="app-bookmark-second-zone" *ngIf="urlIdToAdd" [@fadeInOut]>
      <msp-keywords  [(keywords)]="keywords" (keywordsChange)="updateKeywords($event)"></msp-keywords>
      <div class="app-bookmark-add-button">
        <p-button class="button-add" (onClick)="addBookmark()" label="Ajouter" [disabled]="requestIsPending"></p-button>
        <p-progressSpinner *ngIf="requestIsPending"></p-progressSpinner>
      </div>
    </div>
  </div>
  <div class="app-bookmark-list">
    <p-dataView class="app-bookmark-data" #dv [value]="bookmarks" [paginator]="true" [rows]="3"
                filterBy="urlType" emptyMessage="Aucun bookmark dans la liste">
      <p-header>
          <div class="my-bookmarks-header">
            <div class="">
              <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Trié par"
                          (onChange)="onSortChange($event)" [autoWidth]="false" [style]="{'min-width':'15em'}"></p-dropdown>
            </div>
            <div class=" my-bookmarks-title">
              <span>Mes bookmarks</span>
            </div>
            <div>
              <p-selectButton [options]="filterOptions" [(ngModel)]="filterType" (onChange)="dv.filter(filterType)"></p-selectButton>
            </div>
          </div>
      </p-header>
      <ng-template let-bookmark pTemplate="listItem">
        <div class="my-bookmarks-item" >
          <div class="my-bookmarks-infos">
            <div class="my-bookmarks-info">
              <div>URL :</div>
              <div>
                <span><a href="{{bookmark.url}}" target="_blank">
                  <span class="fa" [ngClass]="{'fa-vimeo': bookmark.urlType === 'Vimeo', 'fa-flickr': bookmark.urlType === 'Flickr'}"></span>
                  {{bookmark.url}}</a></span>
              </div>
            </div>
            <div class="my-bookmarks-info">
              <div>Titre: </div>
              <div>{{bookmark.title}}</div>
            </div>
            <div class="my-bookmarks-info">
              <div>Nom de l'auteur: </div>
              <div>{{bookmark.authorName}}</div>
            </div>
            <div class="my-bookmarks-info">
              <div>Lien ajouté le </div>
              <div>{{bookmark.addedDate | date:'dd-MM-yyyy à HH:mm'}}</div>
            </div>
          </div>
          <div class="my-bookmarks-buttons">
            <p-button (click)="showDialogUpdate(bookmark)" icon="fa fa-fw fa-pencil"></p-button>
            <p-button (click)="deleteBookmark(bookmark)" icon="fa fa-fw fa-trash"></p-button>
          </div>
        </div>
        <div class="my-bookmarks-separator"></div>
      </ng-template>
    </p-dataView>
    <msp-update-bookmark-dialog [(display)]="displayDialogUpdate"
                (bookmarksChange)="updateBookmarks($event)" (displayChange)="updateDisplayDialog($event)"
                [(bookmarkToUpdate)]="bookmarkToUpdate"></msp-update-bookmark-dialog>
    <msp-notifications></msp-notifications>
  </div>


</div>
